<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/intel/IdeaProjects/SeleniumFramework1/src/test/java/framework/tests/sampleTestcases/ScreenshotTest.java"><classes><class name="framework.tests.sampleTestcases.ScreenshotTest"><methods><include name="screenshotTest"/></methods></class></classes></test></suite>